* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body, html {
  color: rgb(85, 85, 85);
  font-family: 微軟正黑體, arial;
  line-height: 24px;
  height: auto;
  /* font-size: 20px; */
}
a {
  color: #868686;
    text-decoration: none;
}
a:hover {
  color: #da3d46;            
}

/* ------------ .header ----------- */
.header {
  width: 100%;
  /* width: 1200px; */
  display: flex;
  justify-content: space-between; /*讓左右兩欄靠外*/
  font-size: 0;
  box-sizing: border-box;  /* 加上padding不超過1200px */
  padding: 5px;
}

.slide img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;    
}
.logo {
  font-size: 18px;
  color: #da3d46;     
  padding: 30px;     
  /* 上下留寬 */
}
.nav {
  font-size: 18px;
  color: #868686;
  padding: 30px; 
  /* margin-left: 420px;  靠右可能還有更好的解法 */
}
.header .nav ul li{
  display: inline-block;
  padding-left: 10px;   /* list間距*/
  padding-right: 10px;             
  /* border: 5px solid red; */

}

/* ------------ .container-about ------------ */
.container-about{
  width: 100%;
  text-align: center;            
  padding-bottom: 50px;
  display: flex;
  background-color: #f7f7f7;
  justify-content: space-around;
}

.about {
  width: 1200px;
  color: #555555;          
  margin-top: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
}

h2::after{
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  background-color: #da3d46;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;          
}

.list {        
  display: inline-block;
  width: 270px;
}
.list img {
  width: 140px;
  height: 140px;
  display: flex;
  margin: auto;
}

/* ------------ .container-course ------------ */    

/* 問題： 標題無法置中 */
/* 解法：h2移到list外面 */

.container-course {
  background-color: #fff;
}
.item-group {
  display: flex;
  margin: auto;
  justify-content: center;

}
.item {
  width: 350px;
  height: 450px;
  border: 1px
  solid #f7f7f7;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.item img{
  vertical-align: middle;
  width: 100%;
  /* width: 100%; */
}
  .content p {
  background-color: #da3d46;
  color: #fff;
  font-size: 90%;
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  width: 80px;
  border-radius: 5px;
}
.time span {
  display: inline-block;
  background-color: #f7f7f7;
  padding: 5px;
  border: 1px solid #f7f7f7;
  border-radius: .25rem;
  margin: 5px;
}

h4, small {
  font-size: 90%;
  font-weight: 400;
}
h4::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f7f7f7;
  margin: 3px auto 3px auto;
}

.course-group a:hover  {
     box-shadow: 0 0 5px 
   rgba(0, 0, 0, .3);
     transition: 0.2s; 

  }
.course-link:hover {
    color: gray;
}
.course-group .more a {
display: block;
text-align: center;
background-color: #da3d46;
width: 250px;
padding: 20px 0;
border-radius: 10px;
margin: 50px auto;
color: #fff;
font-size: 20px;
}


/* ------------ .recommand ------------ */ 

.avatar {
  width: 100px;
  border-radius: 50%;
}

.avatar-name {
  color: #da3d46;
  font-size: 24px;
  margin: 10px 0;  
}

.recommand-header, .course-header {
    text-align: center;
    color: #555555;  
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 1200px; */
    font-size: 28px;
    font-weight: 400;          
}
.recommandation {
  background-color: #f7f7f7;
  padding-top:  30px;
  padding-bottom:  60px;
}

.recommand-column {
  display: flex;
  /* 問題：無法分兩列 */
  width: 60%;
  margin: auto;
}
.recommand-people, .recommand-word {
  padding: 0 30px;
}

/* ------------ .know-more ------------ */        

        .list p, .know-content {
          padding: 10px;
        }
        .know-more {
          text-align: center; 
          padding: 50px;       
        }

        .know-title {
            color: #555555;          
            margin: 30px auto 30px;           
            font-size: 28px;
            font-weight: 400;
        }
        .know-social img {       
          padding-right: 30px;
      /* 兩個圖間隔 */          
          padding-bottom: 50px;
        }     

        .know-content a {
          color: #da3d46;
        }

/* ------------ .footer ------------ */        
.footer {
  width: 100%;
  margin: auto;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center flex-start;  
  /* 要置中，不然會貼齊到左上方; ul li 對齊上方 */
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.foot-title {
color: #464646;
font-size: 16px;
font-weight: 500;   
}
.foot-item img {
display: flex;
width: 150px; 
/* 圖片寬度 */
margin: 10px 10px; 
/* 圖片跟foot-item上側對齊*/
} 
.foot-item {
display: inline-block;
padding-top: 20px;    
padding-bottom: 20px;                  
width: 120px;
margin: 10px 10px;
font-size: 16px;   
color: #888888;     
}

/*問題: title不見*/
.foot-item:nth-child(1) {
display: inline-block;
width: 400px;
margin-left: 50px;
}

.foot-item ul li {
padding: 5px;
}  
.copyright {
margin: 20px auto 40px auto;
width: 90%;
text-align: center;
color: #888888;
font-size: 14px;                      
}
.copyright::before {
content: "";
display: block;
height: 2px;
width: 90%;
background-color: #ededed;
margin: 10px auto 20px auto;
}   


