* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body, html {
  color: rgb(85, 85, 85);
  font-family: 微軟正黑體, arial;
  line-height: 24px;
  height: auto;
  /* font-size: 20px; */
}
a {
  color: #868686;
    text-decoration: none;
}
a:hover {
  color: #da3d46;            
}

/* ------------ .header ----------- */
.header {
  width: 100%;
  /* width: 1200px; */
  display: flex;
  justify-content: space-between; /*讓左右兩欄靠外*/
  font-size: 0;
  box-sizing: border-box;  /* 加上padding不超過1200px */
  padding: 5px;
}

.slide img {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;          
}
.logo {
  font-size: 18px;
  color: #da3d46;     
  padding: 30px;     
  /* 上下留寬 */
}
.nav {
  font-size: 18px;
  color: #868686;
  padding: 30px; 
  /* margin-left: 420px;  靠右可能還有更好的解法 */
}
.header .nav ul li{
  display: inline-block;
  padding-left: 10px;   /* list間距*/
  padding-right: 10px;             
  /* border: 5px solid red; */

}

/* ------------ .footer ------------ */        
.footer {
  width: 100%;
  margin: auto;
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center flex-start;  
  /* 要置中，不然會貼齊到左上方; ul li 對齊上方 */
  flex-wrap: wrap;
  background-color: #f7f7f7;
}

.foot-title {
color: #464646;
font-size: 16px;
font-weight: 500;   
}
.foot-item img {
display: flex;
width: 150px; 
/* 圖片寬度 */
margin: 10px 10px; 
/* 圖片跟foot-item上側對齊*/
} 
.foot-item {
display: inline-block;
padding-top: 20px;    
padding-bottom: 20px;                  
width: 120px;
margin: 10px 10px;
font-size: 16px;   
color: #888888;     
}

/*問題: title不見*/
.foot-item:nth-child(1) {
display: inline-block;
width: 400px;
margin-left: 50px;
}

.foot-item ul li {
padding: 5px;
}  
.copyright {
margin: 20px auto 40px auto;
width: 90%;
text-align: center;
color: #888888;
font-size: 14px;                      
}
.copyright::before {
content: "";
display: block;
height: 2px;
width: 90%;
background-color: #ededed;
margin: 10px auto 20px auto;
}   


